<p><%= t(:welcome).capitalize + ' ' + @email %>!</p>

<p><%= t('.confirm_link_msg') %></p>

<p><%= link_to t('.confirm_account_link'), "#{message['schema_url']}?#{confirmation_query(resource_name: @resource.class.to_s, redirect_url: message['redirect-url'], token: @token).to_query}" %></p>
